<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;0,900;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;0,900;1,800;1,900&family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/assets/css/layout.css">
    <link rel="stylesheet" href="static/assets/css/portfolio.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer">

</head>

<body>



    <div class="home">
        <div class="container-full">
            <div class="intro">
                <img src="/static/image/portfolio_img.jpeg" alt="">
            </div>
            <div>
                <div class="row position-center">
                    <div class="col-4" style="z-index: 2;">
                        <div class="navbar-logo">
                            <img src="static/uploads/logo.png" alt="">
                        </div>
                    </div>
                    <div class="nav" style="z-index: 2;">
                        <div class="nav">
                            <ul>
                                <li><a href>Home</a></li>
                                <li><a href=#about>About</a></li>
                                <li><a href=#portfolio>Portfolio</a></li>
                                <li><a href=#contact>Contact</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="row position-center">
                    <div class="col-6" style="z-index: 2;">
                        <div class="header-content">
                            <h1>Vasila</h1>
                            <h2>Hasanova</h2>
                            <span>Creative Web & App Developer</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main">
        <div class="section" id="about">
            <div class="container">
                <div class="row about-section">
                    <div class="col-6">
                        <img src="{{prof.profile_img}}" alt="">
                    </div>

                    <div class="col-8">
                        <div class="name">{{prof.profile_name}}</div><br><br>
                        <div class="text"> {{prof.about}} </div><br><br>
                        <div class="button">
                            <button>Learn Me</button>
                        </div>
                    </div>
                </div>
                <div class="row skill-item">
                    {% for _skills in skills %}
                    <div class="col-4">
                        <div class="icon-html">
                            <i class="{{_skills.skills_class}}"></i>
                        </div>
                        <div class="html-text">
                            <h1>{{_skills.skills_title}}</h1>
                            <p>{{_skills.skills_content}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="section" style="background: #111;;" id="portfolio">
            <div class="container">
                <div class="row-1">
                    <div class="col-12"> Featured Works</div>
                </div>
                <div class="row-2">
                    <div class="work-item col-4">
                        <img src="static/uploads/cherry.jpg" alt="">
                        <div class="text1">
                            <h3>Sweet Cherry</h3>
                        </div>
                    </div>
                    <div class="work-item col-4">
                        <img src="static/uploads/avocado.jpg" alt="">
                        <div class="text2">
                            <h3>Delicious Fruit</h3>
                        </div>
                    </div>
                    <div class="work-item col-4">
                        <img src="static/uploads/blue_lemon.jpg" alt="">
                        <div class="text3">
                            <h3>Blue Lemon</h3>
                        </div>

                    </div>
                </div>
                <div class="row-3">
                    <div class="work-item col-4">
                        <img src="static/uploads/yellow_phone.jpg" alt="">
                        <div class="text1">
                            <h3>Yellow Phone</h3>
                        </div>
                    </div>
                    <div class="work-item col-4">
                        <img src="static/uploads/ice_cream.jpg" alt="">
                        <div class="text2">
                            <h3>Ice Cream</h3>
                        </div>
                    </div>
                    <div class="work-item col-4">
                        <img src="static/uploads/good_present.jpg" alt="">
                        <div class="text3">
                            <h3>Good Present</h3>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="section" id="testimonial">
            <div class="container">
                <div class="row name">
                    <div class="col-12">Whats Clients Say</div>
                </div>
                <div class="row client">
                    <div class="col-6 text">
                        <div class="icon">
                            <i class="fas fa-quote-right"></i>
                        </div>
                        <div class="text">
                            <h3>Vesini qayda qanuna salmaq ucun c# qrupuna elave edecem</h3>
                        </div>
                        <div class="name">
                            <h1>Samir Kerimov</h1>
                        </div>
                    </div>
                    <div class="col-6 img">
                        <img src="static/uploads/Samir_m.jpeg" alt="">
                    </div>
                </div>

            </div>

        </div>

        <div id="contact">
            <div class="container">
                <div class="contact-header">
                    <h1>Get In Touch</h1>
                    <p>
                        Please fill out the form on this section to contact with me. <br> Or call between 9:00 a.m. and 8:00 p.m. ET, Monday through Friday </p>
                </div>
                <div class="row">
                    <div class="form-input col-6">
                        <form action="#">
                            <div class="name">
                                <input class="w-100" type="text" name="" id="" placeholder="Name..">
                            </div>
                            <div class="email">
                                <input class="w-100" type="text" placeholder="Email..">
                            </div>
                            <div class="mesaj">
                                <textarea class="w-100" name="" id="" cols="30" rows="10" placeholder="Mesaj.."></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="col-6">
                        <img class="w-100" src="static/uploads/map.jpeg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <h1>Portfolio</h1>
                </div>

                <div class="col-3">
                    <h1>Azerbaycan Baki</h1>
                </div>
                <div class="col-3">
                    <h3>vesiih01@gmail.com</h3>
                    <h3>0553789948</h3>
                </div>
                <div class="col-3">
                    <div class="icon">
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-youtube"></i>

                    </div>
                </div>
            </div>
        </div>
    </footer>


</body>

</html>