{% extends "admin/base.html" %} {% block content %}
<div class="form-item w-100 d-flex align-items-center">
    <div class="container">
        <h1 class="pt-35">Contact</h1>
        <div class="table" style="margin-bottom: 50px;">
            <table class="table rounded">
                <tbody>
                    {%for cnt in contact%}
                    <tr>
                        <td>{{cnt.id}}</td>
                        <td>{{cnt.user_name}}</td>
                        <td>{{cnt.user_email}}</td>
                        <td>{{cnt.user_message}}</td>
                        <td>
                            <a href="/contactDelete/{{cnt.id}}">Delete</a>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>



            </table>
        </div>
    </div>
</div>
{% endblock %}