{% extends "admin/base.html" %} {% block content %}
<div class="form-item w-100 d-flex align-items-center">
    <div class="container">
        <!-- <div class="alert-item">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <strong>Danger! </strong>Zəhmət olmasa <b>Skills ClassName hissəsinə <a href="https://fontawesome.com/v5.15/icons?d=gallery&p=2" class="text-warning">Bu linkden icon secib onun classname adini yazin</a>
        </div> -->
        <h1 class="pt-35">Add new <span style="color:#000000;">Skills</span></h1>
        <form action="/admin/skills" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label class="mt-5">Skills Title</label>
                <input type="text" name="skills_title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
            </div>
            <div class="form-group mt-3">
                <label>Skills Class Name</label>
                <input type="text" name="skills_class" class="form-control" id="exampleInputPassword1" required>
            </div>
            <div class="form-group mt-3">
                <label>Skills Content</label>
                <textarea name="skills_content" class="form-control" id="exampleFormControlTextarea1" rows="4" required></textarea>
            </div>
            <div class="submit_button">
                <button type="submit">Submit</button>
            </div>
        </form>
        <table class="table rounded">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Skills title</th>
                    <th scope="col">Skills content</th>
                    <th scope="col">Skills Class</th>
                    <!-- <th scope="col">Update</th> -->
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {%for _skills in skills%}
                <tr>
                    <td>{{_skills.id}}</td>
                    <td>{{_skills.skills_title}}</td>
                    <td>{{_skills.skills_content}}</td>
                    <td>{{_skills.skills_class}}</td>
                    <td><a href="/skillDelete/{{_skills.id}}">Delete</a></td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}